
<ion-content fullscreen="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div>
    <ion-item lines="none">
      <h3>Gallery App</h3>
      <ion-icon name="notifications"  slot="end" color="black"></ion-icon>
    </ion-item>
  </div>

  <div class="grid">
    <ion-item lines="none">
      <h3>Photos</h3>
      <ion-text slot="end">See all</ion-text>
    </ion-item>

      <ion-grid>
        <ion-row>
          <ion-col sizeXs="6" *ngFor="let image of gridImages">
            <div class="grid-image">
              <span>
                <img [src]="image.urls.small">
              </span>


            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

  </div>
  <ion-grid>
    <ion-row>
      <ion-col sizeXs="12"  sizeMd="6"  *ngFor="let image of images">
        <ion-card class="">
          <ion-card-header>
            <ion-img [src]="image.urls.small"></ion-img>
          </ion-card-header>
          <ion-card-content>
          <ion-item lines="none">
              <ion-button fill=""  slot="start">Share your image</ion-button>
              <ion-label>
                  <ion-icon name="logo-twitter" (click)="shareViaTwitter(image.urls.regular,image.alt_description)" class="ion-padding"></ion-icon>
                  <ion-icon name="logo-facebook" (click)="shareViaFacebook(image.urls.regular, image.alt_description)" class="ion-padding"></ion-icon>
                  <ion-icon name="logo-instagram" (click)="shareViaInstagram(image.urls.regular, image.alt_description)" class="ion-padding"></ion-icon>
              </ion-label>
          </ion-item>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
