ion-content {
  ion-card {
    box-shadow: none;
    ion-card-header {
      height: 15rem;
      margin: 0;
      padding: 0;
    }
  }
 ion-label {
  ion-icon {
      font-size: 20px;
    }
 }


.grid-image {
  height: 13rem;



  img {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    border: none;
  }

}
}
